body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.logo {
    background-repeat: no-repeat;
    height: 160px;
    padding-left: 280px;
    padding-top: 50px;
    width: 470px;
    background-image: url('../Content/images/logo.gif') !important;
}

.bg-white {
    background-color: azure;
}


.body-content {
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
}


input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.product-container {
    margin-top: 10px;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 256px;
    height: 150px;
}
