
@{
    ViewBag.Title = "ReportHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports </h2>

<div class="list-group">
    <a href="@Url.Action("ReportTemplate", "Report", new { ReportName = "StockReport", ReportDescription = "Stock Report", Width = 100, Height = 650 })" class="list-group-item list-group-item-action">Stock Report</a>
    <a href="@Url.Action("ReportTemplate", "Report", new { ReportName = "SalesReport", ReportDescription = "Sales Report", Width = 100, Height = 650 })" class="list-group-item list-group-item-action">Sales Report</a>
</div>

