
@{
    ViewBag.Title = "ReportHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports Homw</h2>

<a id="ReportUrl_Performance" href="@Url.Action("ReportTemplate", "Report", new { ReportName = "Performance", ReportDescription = "Performance Report", Width = 100, Height = 650 })">
    Performance Report
</a> 

