
@{
    ViewBag.Title = "ReportHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports Home</h2>

<a id="ReportUrl_Performance" href="@Url.Action("ReportTemplate", "Report", new { ReportName = "StockReport", ReportDescription = "Stock Burning Report", Width = 100, Height = 650 })">
    Performance Report
</a> 

