@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Firesafe provide fire safety products and services to commercial, public and industrial customers such as hospitals, churches, schools, universities, nursing homes and refineries as well as community groups, SMEs, landlords and home owners.

We operate on an international scale, with headquarters in the India and distribution in the UK, Ireland, France, Germany, Italy and Austria.

We offer high-quality fire safety equipment at competitive prices, manufactured by reputable companies such as Gloria, Dräger, Britannia, FireAngel, First Alert and many others. In total we supply over 4,000 products and services both offline and online, which makes us the biggest UK online retailer of fire safety products.

Firesafe will find the best solutions for you, our customers and we guarantee that we won’t be beaten on price, as part of our Best Price Guarantee.</p>
    </div>
</div>