@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        Kochi<br />
        MG Road, IN 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:Support@firesafe.com">Support@firesafe.com</a><br />
        <i class="icon-envelope"></i><strong>Marketing:</strong> <a href="mailto:Marketing@firesafe.com">Marketing@firesafe.com</a>
    </address>
</div>