@model FireSafetyStore.Web.Client.Models.ItemViewModel
@{
    ViewBag.Title = "AddToCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <link href="~/Content/Cart.css" rel="stylesheet" />
}


<h2>AddToCart</h2>
<table style="width:100%">
    <tr>
        <td>Item</td>
        <td>Image</td>
        <td>Rate</td>
        <td>Quantity</td>
        <td></td>
    </tr>
</table>

<tr>
    <td>@Model.ProductName</td>
    <td>@Model.ImageUrl</td>
    <td>@Model.Rate</td>
    <td>@Model.Quantity</td>
    <td></td>
</tr>
